#dt-login form {
    text-align: center;
}

#dt-login form .send-email {
    font-size: 1.2rem;
    height: auto;
}

#dt-login form .confirm-code {
    font-size: 1.2rem;
    height: auto;
    letter-spacing: 5px;
    width: auto;
}

#dt-login form .footer-buttons {
    display: flex;
    margin-top: 10px;
}

.donation-tracker .tabs .item {
    width: 50%;
    border-bottom: 3px solid #b5b3a4;
}

.donation-tracker .tabs .item.active {
    border-bottom: 3px solid #44191A;
    text-shadow:none;
}

.donation-tracker td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}